*{
    margin: 0;
    padding: 0;
    font-family: Tahoma, Arial, Helvetica;
    font-size: 0.3rem;
}
body{
    background-color: #f0f0f0;
}
header{
    width:7.20rem;
    height: 2.89rem;
    background-image: url("../images/u=827513130,265095012&fm=200&gp=0.jpg");
    background-size: cover;
    overflow: hidden;
}
#background{
    width:7.20rem;
    height: 2.89rem;
    background-color: #ff736b;
    opacity: 0.5;

}
#logo{
    width:7.20rem;
    height: 2.89rem;
    background-image: url("../images/logo.jpg");
    background-size: cover;
}
footer{
    margin-top:0.4rem ;
    width:7.2rem ;
    height: 1.5rem;
    background-color: #e6e6e6;
    position:fixed;
    bottom:0;
    overflow: hidden;
}
#MainContent{
  background-color: #f0f0f0;
 margin-bottom: 1.5rem;

  position:fixed;top:2.89rem;bottom:0;width:100%;overflow:auto;

}
#footNav{
    margin-left: 0.1rem;
    /*overflow: hidden;*/
    float: left;
    /*width: 6rem;*/
    white-space: nowrap;
}
#footNav li{
    color: #646464;
    font-size: 0.3rem;
    list-style:none;
    height: 1.5rem;
    width: 1.65rem;
    text-align: center;;
    display: inline-block;

}

#pre{
    float: left;
    color: #9f9797;
    font-size: 1rem;
    height: 1.5rem;
    border: 1px solid #b6b1b1;
    width: 0.57rem;
    text-align: center;
    font-weight: bold;
    border-radius: 0.05rem;
}
#pre:hover,#next:hover{
    background-color:rgba(139, 136, 136, 0.68);
    color: #ffff00;
}
#next{
     float: right;
    color: #9f9797;
    font-size: 1rem;
    height: 1.5rem;
    border: 1px solid #b6b1b1;
    width: 0.57rem;
    text-align: center;
     font-weight: bold;
    border-radius: 0.05rem;
 }
.divImg{
    margin-top: 0.2rem;
}
.divImg img{
   width: 0.75rem;
    height: 0.62rem;
}
.tablecontent{
    padding-top:0.2rem;
}
.clearboth{
    color: #696767;
}
h2{
   margin-left: 0.3rem;
    font-size: 0.4rem;
    color: #969696;
}
hr{
    margin-top: 0.07rem;
}

.styled-text{
    width: 3.7rem;
    height: 0.4rem;
    /*border-radius:0.1rem;*/
    /*border: 0.01rem solid #9E9E9F;*/
    margin-left: 0.1rem;
    outline: 0;
    border: 0;
    background-color: #f0f0f0;
}
.space{
    height:0.4rem;

}
.inputRadio{
    width: 0.3rem;
    height: 0.3rem;
    margin-left: 0.1rem;
}
.routertableinfo{
    color: #595957;
    margin: auto;
    width: 85%;

}
.routertableinfo th{
    font-size: 0.26rem;
    letter-spacing: 0.02rem;
    width: 40%;
    border-bottom:  1px solid #dcd6d6;
    text-align: left;
    height: 1rem;
}
.routertableinfo td{
    font-size: 0.25rem;
    border-bottom:  1px solid #dcd6d6;
    width: 60%;
    height: 1rem;
    text-align: right;
}
.routertableinfo tr{
   height: 0.5rem;
}

.maintable {
    border-collapse: collapse;
    /* table-layout: fixed; */
    /*border: 1px solid #ccc;*/
    color: #3c3c3c;
    text-align: center;
    margin: auto;
}
.maintable th {
    /*background-color: #008da8;*/
    text-align: center;
    color: #fff;
    padding: 0 4px;
    font-size: 0.27rem;
}
.maintable td {
    border-bottom:1px solid #dcd6d6    ;
    overflow: hidden;
    text-overflow: ellipsis;
    /*padding: 0 4px;*/
    word-break: break-all;
    font-size: 0.2rem;
    text-align: left;

}

.maintable td:first-child{
    border-bottom:none ;
    text-align: left;
}
.DeviceName{
    background-color: #f0f0f0;
    border: none;
    color: #008da8;
    font-size: 0.31rem;

}
#ConfigurationBox{
    height: 4rem;
    /*width: 6rem;*/
    width: 100%;
    border: 1px solid #fff;
    position: absolute;
    top:4rem;
    /*left: 0.6rem;*/
    background-color: #fff;
    color: #595957;
    z-index: 1000;
    /*border-radius: 0.1rem;*/
}
.styled_buttonSet {
    height: 0.75rem;
    width: 3.1rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.3rem;
    text-align: center;
    text-decoration: none;
    outline: 0;
    float: left;
    border: none;
    /*background-color: #f1eeee;*/
    background-color: #f72a39;

}
#cancelBtn{
    border-radius: 0.3rem 0 0 0.3rem;
    border-right:1px solid #e4d6d6 ;
}
#setBtn{
    border-radius: 0 0.3rem 0.3rem 0;
}
#setInput{
    text-align: center;
    margin-left: 0.45rem;
    margin-top: 0.5rem;
}
#DeviceConfiguration{
    width: 5.5rem;
}
#DeviceConfiguration td{
    font-size: 0.2rem;
}
#DeviceConfiguration th{
    width: 1.3rem;
    text-align: right;
}
#DeviceConfiguration th span{
    font-size: 0.24rem;
    margin-right: 0.112rem;
}

#bigBackground{
    height: 100%;
    width: 100%;
    background-color: #0a0a0a;
    position: absolute;
    top:0;
    left :0;
    opacity: 0.4;

}
.delete {
    border: none;
    /*background-color:#ff736b ;*/
    background-color:#f72a39 ;
    height: 0.5rem;
    width: 80%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.2rem;
    text-align: center;
    text-decoration: none;
    outline: 0;
    border-radius: 0.25rem;
}
.timeSelect{
    width: 0.7rem;
    height: 0.4rem;
    /*font-size: 0.1rem;*/
}


.timeSelect option{
    /*font-size: 0.2rem;*/
    line-height:0.1rem
    display: inline-block;
}


#SetWifi,#SetVisitorWifi{
   width: 6.6rem;
   height: 0.8rem;
   font-size: 0.3rem;
    border-radius: 0.4rem;
}
.Accelerate{
    width: 1rem;
    height: 0.5rem;
    background-color:#f72a39 ;
    color: #fff;
    border: 1px solid #f72a39;
    border-radius: 0.1rem;
    margin-right: 0.2rem;
}
.checkbox_on {
    background: url(../images/icon_choose_kai.png);
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 11pt;
    height: 0.53rem;
    line-height: 24px;
    width: 1.1rem;
    background-repeat: no-repeat;
    margin-left: 0.1rem;
}
.checkbox_off {
    background: url("../images/icon_choose_guan.png");
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 11pt;
    height: 0.53rem;
    line-height: 24px;
    text-align: center;
    width: 1.1rem;
    background-repeat: no-repeat;
    margin-left: 0.1rem;
}
.datecheck{
    border:1px solid #008da8 ;
    height: 0.4rem;
    width: 0.56rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.1rem;
    line-height: 0.4rem;
    background-color:#008da8;
}
.date{
    border:1px solid #008da8 ;
    height: 0.4rem;
    width: 0.56rem;
    color: #595957;
    cursor: pointer;
    display: inline-block;
    font-size: 0.2rem;
    text-align: center;
    text-decoration: none;
    border-radius: 0.1rem;
    line-height: 0.4rem;
}
.channel{
   margin-left: 0.1rem;
}
.tableImg{
    width: 1rem;
    height: 0.8rem;
    margin-top: 0.23rem;
    margin-bottom: 0.23rem;
    vertical-align: middle;
    margin-left: 0.1rem;
}
.blacklistImg{
    width: 1rem;
    height: 0.8rem;
    margin-top: 0.23rem;
    margin-bottom: 0.23rem;
    vertical-align: middle;
}

.SpanDeviceName{
    font-size: 0.3rem;
    font-weight: bold;
    color: #969696;
}
#DeviceConfiguration td {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 4px;
    word-break: break-all;
    font-size: 0.2rem;
    text-align: left;
}
.BlacklistIcon{
    display: block;
    font-size: 0.2rem;
    margin-bottom: 0.1rem;
    color: #969696;
}
.clearboth{
    border-collapse:collapse;
    border:1px solid #dcd6d6;
    width: 6.6rem;
    margin: auto;
}

.clearboth tr{border:1px solid #dcd6d6;}

.clearboth td{
    text-align: left;
    border:0px;
    width: 100%;
    height: 1.1rem;
}
.clearboth th{
    font-size: 0.3rem;
    width: 100%;
    text-align: left;
    height: 1.1rem;

}
.name{
    font-weight: bold;
    margin-left: 0.2rem;
}
.errors{
    padding: 0;
    font-size:0.2rem ;
    margin-left: 0.2rem;
    color: red;
}
.ConfigurationBoxName{
    text-align: center;
    margin-top: 0.1rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
}
#changeName{
    margin-left: 0.5rem;
    height: 0.75rem;
    border: 1px solid #dcd6d6;
    width: 85%;
}
